<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/style.css">
    <script src="src/js/jquery.js"></script>
    <script src="src/js/utils.js"></script>
    <script src="src/js/karo-engine.js"></script>
    <title><%= name[0].toUpperCase().concat(name.substr(1)) %> </title>
</head>
<body>
    <div class="window">
        <div class="panel">
           <div class="control-panel">
               <div class="top-control-panel">
                    <button class="add-btn" title="Add Character">
                        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 8 8">
                            <path d="M3 0v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2z" />
                        </svg>
                    </button>
                    <button class="props-btn" title="Character Property">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <path d="M1.5 0c-.83 0-1.5.67-1.5 1.5 0 .66.41 1.2 1 1.41v2.19c-.59.2-1 .75-1 1.41 0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5c0-.6-.34-1.1-.84-1.34.09-.09.21-.16.34-.16h2c.82 0 1.5-.68 1.5-1.5v-.59c.59-.2 1-.75 1-1.41 0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5c0 .66.41 1.2 1 1.41v.59c0 .28-.22.5-.5.5h-2c-.17 0-.35.04-.5.09v-1.19c.59-.2 1-.75 1-1.41 0-.83-.67-1.5-1.5-1.5z"
                            />
                        </svg>
                    </button>
                    <button class="state-btn" title="Game States">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <path d="M0 0v4h4v-4h-4zm5 2v3h-3v1h4v-4h-1zm2 2v3h-3v1h4v-4h-1z" />
                        </svg>
                    </button>
                    <button class="assets-btn" title="Assets Hub">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                            <path d="M.19 0c-.11 0-.19.08-.19.19v7.63c0 .11.08.19.19.19h7.63c.11 0 .19-.08.19-.19v-7.63c0-.11-.08-.19-.19-.19h-7.63zm.81 2h6v3h-1l-1 1h-2l-1-1h-1v-3z" />
                        </svg>
                    </button>
               </div>
               <div class="bottom-control-panel">
                    <button class="stop-game-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" height="128" width="128">
                            <circle cx="64" cy="64" r="64"/>
                        </svg>
                    </button>
                    <button class="play-game-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" height="128" width="128">
                            <polygon points="0,0 0,128 128,64"/>
                        </svg>
                    </button>
               </div>
           </div> 
           <div class="body-panel">
               
           </div>
        </div>
        <canvas class="draw-board">
        </canvas>
    </div>
</body>
<script>
    let ProjectData = {}
    axel(
        "POST",
        "/getProjectData",
        (data) => {
            ProjectData = data
        },
        () => {

        }
    )
</script>
</html>